@{
    ViewData["Forbiden"] = "Forbiden";
}

<div style="display:flex;justify-content:center;align-items:center;"> 

<div style="margin-right:5rem">
    <img style="width:500px;height:500px;" src="~/Img/logoLogin2.svg"/>
</div>
<div class="card"  style="width:350px;">
    <div class="card-body">
         <h1>This resource dont permision</h1>
    </div>
</div>

</div>
