@{
    ViewData["Title"] = "Home Page";
}

<div style="display:flex;justify-content:center;align-items:center;"> 

   <div style="margin-right:5rem">
      <img style="width:500px;height:500px;" src="~/Img/logoIndex.svg"/>
   </div> 
    <div>
        <h1>Welcome to Application Task Manager Reports</h1>
    </div>

</div>
